<ul>

{{#each examples as |example|}}
  {{#if example.editable}}
  <li>{{example.text}} <button {{action 'deleteExample' example}}>Delete </button>
                       {{input placeholder='new name' value=example.text}}
                       <button {{action 'updateExample' example}}> Save </button></li>
  {{/if}}
{{/each}}

</ul>
